/*GLOBAL CSS*/

body
{
background-color:#fff;
margin:0;
padding:0;
font-family:Helvetica, Arial, serif;
word-spacing:3px;
}

.alt
{
margin-top:50px;
margin-right:510px;
}

header
{
width:100%;
height:185px;
text-align:center;
background-color:#8b8b8b;
color:#fff;
}
.header
{
background-color:#fff;
}
header p
{
display:inline;
}

#content
{
width:100%;
height:100%;
}

.left
{
float:left;
}

.right
{
float:right;
}

.clear
{
clear:both;
}

h1
{
font-size:24px;
display:inline;
}

h2
{
font-size:13px;
display:inline;
}

h3
{
display:inline;
}

a
{
text-decoration:none;
color:#c30100;
}

a:hover
{
color:#000;
}

a:visited
{
text-decoration:line-through;
}

ul
{
display:inline;
}

li
{
display:inline;
color:#fff;
}

input
{
padding:10px;
border:7px solid #000;
border-radius:15px;
}

.button
{
height:35px;
padding-bottom:20px;
padding-left:40px;
padding-right:40px;
background-color:#8b8b8b;
border:1px solid #8b8b8b;
border-radius:15px;
}

.button a
{
font-size:18px;
text-align:center;
text-decoration:none;
color:#fff;
}

.button a:hover
{
color:#37a63a;
}

footer
{
width:100%;
height:100%;
text-align:center;
}

footer h2
{
font-size:10px;
color:#37a63a;
}

footer h2:hover
{
color:#000;
}

/* HOME */

#identification
{
width:100%;
height:100%;
margin-top:1%;
}

#identification_alt
{
width:100%;
height:100%;
}
 
#presentation
{
width:35%;
height:100%;
margin:auto;
margin-top:1%;
padding-left:1%;
padding-right:1%;
border:1px solid #000;
}

#presentation p
{
font-size:12px;
line-height:120%;
text-align:justify;
}

#presentation h1
{
margin-left:60%;
}

#mail
{
width:37%;
height:100%;
margin:auto;
}

#welcome
{
color:#37a63a;
font-size:40px;
font-weight:bold;
float:left;
margin-left:35%;
}

#barre
{
float:left;
margin-left:6%;
}

.highlight
{
color:#8b8b8b;
}

#button
{
margin-top:1%;
margin-left:6%;
float:left;
}

/*ACTIVATION*/

#activation
{
text-align:center;
margin-top:5%;
}

#joinButton /*activation page*/
{
width:200px;
height:100px;
margin-right:16%;
float:right;
}

/*CONNEXION*/

#connexion 
{
text-align:right;
margin-right:23%;
}

#form
{
float:left;
margin-left:45%;
margin-top:5%;
}

#loginButton
{
height:100px;
margin-right:15%;
margin-top:7%;
float:right;
}

/*NAV*/

nav
{
text-align:center;
margin-left:99px;
}

nav p
{
display:inline;
}

nav a
{
text-decoration:none;
color:#000;
}

nav a:hover
{
color:#c30100;
}

nav a:visited
{
text-decoration:line-through;
}
nav h2
{
margin-left:317px;
}
nav img
{
margin-left:200px;
}

nav li
{
color:#c30100;
}

/*ACCUEIL*/

#carousel
{
width:100%;
height:260px;
background-color:#858585;
text-align:center;
padding:5px;
margin-top:1%;
}

#carousel img
{
margin-right:2%;
opacity:0.4;
filter:alpha(opacity=40);
}

#carousel img:hover
{
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

#carousel h3
{
float:right;
margin-right:2%;
color:#bf6e16;
}

#carousel h3:hover
{
color:#000;
}

#feedStatuts
{
height:100%;
width:95%;
margin:auto;
margin-top:2%;
padding-bottom:2%;
border:7px solid #000;
}

#feedStatuts img
{
width:50px;
height:70px;
}

.homeStatut
{
height:100%;
width:93%;
margin-right:20%;
margin-left:20%;
margin-top:2%;	
padding-right:5px;
padding-left:5px;
}

.homeUsername
{
color:#5992be;
font-weight:bold;
font-size:23px;
float:left;
}

.statut
{
width:50%;
font-size:18px;
float:left;
margin-left:3%;
}

#feedStatuts h3
{
float:left;
color:#bf6e16;
}

#feedStatuts h3:hover
{
color:#000;
}

#feedStatuts a
{
color:#000;
}

#feedStatuts a:hover
{
color:#5992be;
}

#feedPM
{
height:100%;
width:35%;
margin:auto;
margin-top:2%;
margin-left:10%;
padding-right:1%;
padding-left:1%;
border:7px solid #000;
float:left;
}

#feedPM img
{
width:70px;
height:90px;
margin-left:2%;
float:left;
}

.PM
{
width:50%;
font-size:18px;
float:left;
margin-top:6%;
margin-left:3%;
}

.introverted
{
margin-right:30%;
}

#feedPM h3
{
float:right;
color:#bf6e16;
}

#feedPM h3:hover
{
color:#000;
}

#feedFriends
{
height:100%;
width:35%;
margin:auto;
margin-top:2%;
margin-right:10%;
padding-top:2%;
padding-left:2%;
border:7px solid #000;
float:right;
}

.line
{
margin-left:10%;
margin-right:10%;
}

#feedFriends .left
{
margin-left:10%;
}

#feedFriends .left:first-child
{
margin-left:0%;
}

#feedFriends img
{
width:130px;
height:170px;
float:left;
}

#feedFriends h3
{
float:right;
color:#bf6e16;
}

#feedFriends h3:hover
{
color:#000;
}

/*PROFIL*/

#avatar
{
margin-top:8%;
margin-bottom:5%;
margin-left:10%;
}

#avatar img
{
width:287px;
height:370px;
}

#description
{
margin-top:2%;
margin-left:15%;
width:80%;
}

#description h1
{
color:#5992be;
}

#friends
{
width:80%;
margin-left:15%;
background-color:#858585;
}

#friends img
{
margin-top:2%;
margin-left:5%;
}

#friends h3
{
float:right;
margin-bottom:0%;
}

#modif
{
margin-left:85%;
margin-top:20%;
}

#gallery
{
margin-left:10%;
}
